
.download-3{
    height: 2em;
}
.ul-0 li{
    list-style-type: none;
    display: inline-block;
    justify-content: end;
    flex-direction: row;
}
li:hover{
    color: blue;
    cursor: pointer;
}
.brand-0{
    background-color: rgb(255, 53, 87);
    color: white;
    border-radius: 5px;

}
.tulisan-0 ul li a:hover{
    background-color: rgb(255, 0, 162);
    border-radius: 10px;
    transform: scale(1.1);
    transition: transform .4        s;
}
.tombol-0{
    background-color: rgb(255, w, 128);
    border-radius: 5px;
    background-color: rgb(255, 0, 128);
}
.tombol-0:hover{
    transform: scale(1.1);
    transition: transform .4s;
}
.icon01{
    background-color: rgb(255, 0, 128);
    letter-spacing: 1px;
    font-size: 12px;
    color: white;
    border-radius: 7px;
}
.icon01:hover{
    background-color: white;
    color: rgb(255, 0, 162);
    cursor: pointer;
}
/* .carousel .carousel-indicators button { */
    /* width: 10px; */
    /* height: 10px; */
    /* border-radius: 50%; */
    /* position:relative; */
    /* right: 65%; */
/* } */
/* .carousel .carousel-inner .carousel-item img{ */
    /* border-radius: 10px; */
/* } */
/* .carousel{ */
    /* width: 1200px; */
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); */
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-top:50px; */
    /* sistem grid untuk carousel */
/* } */
.meja-0{
    margin-top: 200px;
}
.gambar{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tulisan-1 p{
    border-style: double;
    border-width: thin;
    border-radius: 20px;
    border-color: gray;
    padding: 1em;
}
.tombol button{
    border-color: rgb(255, 44, 79);
    background-color: white;
    color: rgb(255, 9, 50);
    border-radius: 10px;
    border-style: double;
    border-width: thin;
}
.tombol button:hover{
    background-color: rgb(255, 9, 50);
    color: white;
    transform: scale(1.1);
    transition: transform .4s;
}
